SUPABASE_URL= "https://bwrfksofceowhdkdamab.supabase.co"
SUPABASE_ANON_KEY= "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ3cmZrc29mY2Vvd2hka2RhbWFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc3MTU3OTEsImV4cCI6MjA2MzI5MTc5MX0.j9KUiErHJQC_HwrLGElxYVgyu95bQUjYG3m8OZ5Kfbw"